@import url("https://v1.fontapi.ir/css/SFProDisplay");

:root {
    --orange-theme: #ffbc7d;
    --green-theme: #78ffae;
    --red-theme: #ff8c8c;
    --nav-side-border: #dedede 1px solid;
    --stroke-style: #c6c6c6 1px solid;
}

body {
    font-family: "SF Pro Display", sans-serif;
    /* font-family: "SF Pro", sans-serif; */
    background-color: white;
}

.--form-el {
    background: #ffffff;
    /* border: 1px solid #eaeaea; */
    box-sizing: border-box;
    box-shadow: 0px 4px 64px 3px rgba(0, 0, 0, 0.07);
    border-radius: 21px;
    width: fit-content;
    padding: 5px 10px;
    width: 340px;

    display: flex;
    flex-direction: column;
    align-items: center;

    padding-bottom: 22px;
    padding-top: 12px;

    align-self: center;
    justify-self: center;
}

.--form-el h2 {
    font-size: 20px;
    text-align: center;
    margin: 12px 0px;
}

.--form-el input {
    width: 90%;
    background: #f9f9f9;
    border-radius: 10px;
    border: none;
    outline: none;
    height: 38px;
    text-indent: 12px;
    margin-bottom: 8px;
}

.--form-el input::placeholder {
    color: rgba(0, 0, 0, 0.301);
}

.-login-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: hidden;
}

.---theme-btn {
    background-color: rgba(63, 140, 255, 0.2) !important;
    border-radius: 8px !important;
    color: #3f8cff !important;
    border: none !important;
    padding: 5px 10px !important;
    font-weight: bold !important;
    letter-spacing: -0.6px;
    width: 92%;
    height: 36px;
    cursor: pointer;
    transition: 0.15s;
}

.---theme-btn:hover {
    opacity: 0.5;
    transition: 0.15s;
}

.--form-el hr {
    width: 90%;
    border: none;
    height: 1px;
    background-color: #eeeeee;
    margin: 18px 0px;
}

.typical-link {
    color: #3f8cff;
    text-decoration: none;
    font-size: 15px;
    transition: 0.15s;
    font-weight: bold !important;
    letter-spacing: -0.1px;
    user-select: none;
    cursor: pointer;
}

.typical-link:hover {
    opacity: 0.3;
    transition: 0.15s;
}

.author {
    transition: max-height 0.3s ease-out;
    max-height: 400px !important;
}

.creator {
    /* max-height: 0; */
}

.form-icon {
    width: 50px;
    position: absolute;
    top: 0;
    /* left: 0; */
    margin-top: 15px;
}

.help {
    font-size: 14px;
    color: rgba(207, 207, 207, 0.589);
    position: absolute;
    bottom: 2%;
}

.google_button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    width: 90%;
    padding: 9px 4px;
    border-radius: 9px;
    column-gap: 4.6px;
    margin-top: 7px;
    transition: 0.16s;
    cursor: pointer;
}

.google_button span {
    font-weight: 500;
    font-size: 13px;
}

.google_button:hover {
    opacity: 0.4;
    transition: 0.16s;
}

.login-page {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.bottom-img {
    width: 40px;
    position: absolute;
    bottom: 25px;
}

.google_button img {
    width: 17px;
}
